* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@import 'colors';
@import 'typography';

body {
    width: 100%;
    background-color: #050607;
}

.logo-svg {
    background-color: #53ffa9;
}

@import 'spacing';
@import 'layout';